body {
  text-align: center;
}

h1 {
  color: red;
}

header nav a {
  color: white;
  padding: 10px;
  background-color: #7f8c8d; 
  margin: 5px;
}

#featured-property p {
  margin: auto;
  width: 800px;
  padding: 20px;
}

#details div {
  float: left;
  background-color: red;
  width: 25%;
  padding: 20px;
  box-sizing: border-box;
}

